<table id="ordersTable">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Service</th>
            <th>Total Pages</th>
            <th>Files</th>
            <th>Note</th>
            <th>Call Before print</th>
            <th>Order Amount </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <% allOrders.forEach(order=> { %>
            <tr data-order-status="<%= order.orderStatus %>">
                <td>
                    <button type="button" class="link-button" onclick="showOrderDetail('<%= order.orderID %>')"> <%= order.orderID %> </button>
                </td>
                <td>
                    <%= order.serviceName %>
                </td>
                <td>
                    <%= order.pages %>
                </td>
                <td>
                    <%= order.filesUri %>
                </td>
                <td>
                    <%= order.note %>
                </td>
                <td>
                    <%= order.callBeforePrint %>
                </td>
                <td>
                    <%= order.orderAmount %>
                </td>
                <td>
                    <button class="processBtn" data-id="<%= order.orderID %>">Process</button>
                    <button class="completedBtn" data-id="<%= order.orderID %>">Done</button>
                    <button class="rejectedBtn" data-id="<%= order.orderID %>">Cancel</button>
                </td>
            </tr>
            <% }) %>
    </tbody>
</table>

<script src="/scripts/ordersTableScript.js"></script>
